---
import type { CollectionEntry } from "astro:content";

import { Image } from "@astrojs/image/components";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, slug } = Astro.props.project;
---

<a
  href={`/projects/${slug}`}
  class="group mt-3 block max-w-2xl rounded-lg px-3 py-5 transition hover:bg-gray-200 dark:hover:bg-gray-800 lg:px-5"
>
  {
    data.logo && (
      <>
        <div class="mx-3 flex h-12 w-12 items-center justify-center rounded-full border border-gray-200 shadow shadow-gray-300 dark:border-gray-700 dark:bg-white/5 dark:shadow-none">
          <img
            src={data.logo}
            alt={data.title}
            height={28}
            width={28}
            loading="lazy"
            decoding="async"
            class="h-7 w-7 rounded-full shadow dark:shadow-gray-700"
          />
        </div>
      </>
    )
  }
  <h3 class="mx-3 mt-6 text-lg font-semibold">{data.title}</h3>
  <p class="mx-3 my-3 text-sm text-gray-800 dark:text-gray-300">
    {data.description}
  </p>
  <p
    class="mx-3 text-sm text-gray-800 group-hover:text-sky-500 dark:text-gray-300"
  >
    Read more
  </p>
</a>
