---
import SkillButton from "./SkillButton.astro";
const skills = [
  {
    icon: "logos:javascript",
    skill: "Javascript",
  },
  {
    icon: "logos:html-5",
    skill: "HTML",
  },
  {
    icon: "logos:css-3",
    skill: "CSS",
  },
  {
    icon: "logos:typescript-icon",
    skill: "Typescript",
  },
  {
    icon: "logos:react",
    skill: "React",
  },
  {
    icon: "logos:redux",
    skill: "Redux",
  },
  {
    icon: "logos:nextjs",
    skill: "Next.js",
  },
];
---

<div class="mt-12 gap-8 flex overflow-x-hidden py-10">
  <ul class="flex shrink-0 animate-marquee gap-8">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
  <ul class="flex shrink-0 animate-marquee gap-8" aria-hidden="true">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
  <ul class="flex shrink-0 animate-marquee gap-8" aria-hidden="true">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
  <ul class="flex shrink-0 animate-marquee gap-8" aria-hidden="true">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
</div>
<div class="gap-8 flex overflow-x-hidden">
  <ul class="flex shrink-0 animate-marquee2 gap-8">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
  <ul class="flex shrink-0 animate-marquee2 gap-8" aria-hidden="true">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
  <ul class="flex shrink-0 animate-marquee2 gap-8" aria-hidden="true">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
  <ul class="flex shrink-0 animate-marquee gap-8" aria-hidden="true">
    {
      skills.map((item) => (
        <li class="shrink-0">
          <SkillButton skill={item.skill} icon={item.icon} />
        </li>
      ))
    }
  </ul>
</div>
